/*字体图标*/
@font-face {
  font-family: 'iconfont';
  src: url('font/iconfont.eot?121');
  src: url('font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('font/iconfont.woff') format('woff'),
  url('font/iconfont.ttf') format('truetype'),
  url('font/iconfont.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconxiazai45:before {
  content: "\e61a";
}

.icongeren:before {
  content: "\e62f";
}

.icontubiao:before {
  content: "\e670";
}

.iconai219:before {
  content: "\e6cf";
}

.iconshouji:before {
  content: "\e615";
}

.iconmsg-system:before {
  content: "\e67a";
}

.iconerji:before {
  content: "\e605";
}

.iconxiajiantou:before {
  content: "\eb6d";
}

.iconshangjiantou:before {
  content: "\eb6e";
}

.icongonggao:before {
  content: "\e609";
}

.icongeren1:before {
  content: "\e611";
}

.iconbianji:before {
  content: "\e61e";
}

.iconyuangonggoumaishebaoshenqingbiao:before {
  content: "\e60d";
}

.iconshezhi:before {
  content: "\e72a";
}

.iconyuangongxinxiguanli:before {
  content: "\e618";
}

.iconkaoqinguanli:before {
  content: "\e629";
}

.iconxinshouyindao:before {
  content: "\e63a";
}
